<!DOCTYPE html>

<html ng-app="asyncMeeting" ng-controller='asyncMeetingCtrl'>
<head>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">

</head>
<body>


<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
        <div id="navbar" class="navbar-collapse collapse">
            <ul ng-if='currentUser' class='nav navbar-nav'>
                <li><a class='posts' href="/"> Home </a></li>
                <li><a access="CanViewMeetingAreas, CanEditMeetingAreas, CanDeleteMeetingAreas" access-permission-type="AtLeastOne" class='meetingareas' ng-href='#/meetingareas'>My Meeting Areas</a></li>
            </ul>
            <ul ng-if='!currentUser' class=' nav navbar-nav navbar-right'>
                <li><a class='register' href="#/register"> Register </a></li>
                <li><a class='login' href="#/login"> Login </a></li>
            </ul>
            <ul ng-if='currentUser' class='nav navbar-nav navbar-right' ng-controller="logoutCtrl">
                <li><a class='logout' href="#" ng-click='logout()'> Logout </a></li>
            </ul>
            <p ng-if='currentUser' class="navbar-text navbar-right"> Signed in as {{currentUser.username}} </p></div>
        </div>
</nav>
<div class="container">
    <div ng-view></div>
</div>

<!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>-->
<!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js'></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='/angular/angular.js'></script>
<script src='/angular-route/angular-route.js'></script>
<script src='/angular-cookies/angular-cookies.min.js'></script>
<script src="/underscore/underscore-min.js"></script>

<script src="app.js"></script>
</body>
</html>


